@import "global.css";

.question-card {
  border: solid 2px black;
  border-radius: 10px;
  width: 350px;
  min-height: 250px;
  text-align: center;
  margin: 20px;
}

.question-card__hashtag-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.question-card__hashtag-item {
  height: 30px;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.question-card__html-tag {
  background-color: rgb(91, 172, 230);
}

.question-card__css-tag {
  background-color: rgb(235, 119, 119);
}
.question-card__bookmark-holder {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  margin-top: -20px;
  margin-left: 120px;
  z-index: 1;
}

.question-card__bookmark {
  width: 40px;
  height: 40px;
}

.question-card__question-text {
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.question-card__show-button {
  width: 120px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.question-card__answer-text {
  margin-bottom: 0px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.hidden {
  visibility: hidden;
}
