* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.title {
  padding: 10px;
  text-align: center;
}

.question-card {
  border: solid 2px black;
  width: 300px;
  min-height: 300px;
  text-align: center;
  margin: 10px;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
